body {
    font-family: font1;
    background-color: #F8F3D9;
}

@font-face {
    font-family: font1;
    src: url("static/Outfit-Regular.ttf");
}
@font-face {
    font-family: font2;
    src: url("static/Outfit-SemiBold.ttf");
}

.container-header {
    text-align: center;
}

.cv {
    font-size: 300%;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: auto;
    height: auto;
}

.container-paragraph {
    text-align: center;
}

nav {
    background-color: #EBE5C2;
    font-family: font2;
}

.transparent-table {
    width: auto;
    border-collapse: collapse;
}

.transparent-table td {
    padding: 5px;
    vertical-align: top;
}

.container-form {   
  background: white;
  padding: 20px;
  border-radius: 10px;
}

footer {
    background-color: #EBE5C2;
    text-align: right;
    font-family: font2;
    padding: 5px;
}